<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationform" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input [class.is-invalid]="firstname!.invalid && firstname!.touched" formControlName="firstname" type="text"
        class="form-control" placeholder="First Name">
      <!-- <small [class.d-none]="firstname!.valid || firstname!.untouched" class="text-danger">First Name is required</small> -->
      <div *ngIf="firstname!.invalid && firstname!.touched">
        <small *ngIf="firstname!.errors?.required" class="text-danger">Firstname is required</small>
        <small *ngIf="firstname!.errors?.minlength" class="text-danger">Firstname too short!</small>
        <small *ngIf="firstname!.errors?.forbiddenname" class="text-danger">'{{firstname!.errors?.forbiddenname.value}}'
          First Name not allowed</small>

      </div>
    </div>

    <div class="form-group">
      <input formControlName="lastname" type="text" class="form-control" placeholder="Last Name">
    </div>
    <br>
    <div class="form-group">
      <input formControlName="username" type="text" class="form-control" placeholder="Username">
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" formControlName="subscribe" type="checkbox" placeholder="Alternate Email">
      <label class="form-check-label">
        Make Email Compulsory
      </label>
    </div>

    <div class="form-group">
      
      <input [class.is-invalid]="email!.invalid && email!.touched" type="email" formControlName="email"
        class="form-control" placeholder="Email">
        
      <small [class.d-none]="email!.valid || email!.untouched" class="text-danger">Email is required</small>
      <div formArrayName="alternateemail" *ngFor="let email of alternateemail.controls; let i=index">
        <input type="email" class="form-control my-1" [formControlName]="i">
      </div>
      <button type="button" class="btn btn-outline-info btn-sm m-2" (click)="addalternateemail()">Add Email</button>
    </div>

    
    

    <br>
    <div class="form-group">
      <input formControlName="password" type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <input [class.is-invalid]="registrationform.errors?.mismatch" formControlName="conpassword" type="password"
        class="form-control" placeholder="Confirm Password">
      <small class="text-danger" *ngIf="registrationform.errors?.mismatch">Password do not match!</small>

    </div>
    <br>
    <div formGroupName="address" class="border rounded p-2">
      <label>Address</label>
      <div class="form-group">
        <input formControlName="city" type="text" class="form-control" placeholder="City">
      </div>

      <div class="form-group">
        <input formControlName="state" type="text" class="form-control" placeholder="State">
      </div>

      <div class="form-group">
        <input formControlName="country" type="text" class="form-control" placeholder="Country">
      </div>

    </div>
    <br>
    <button [disabled]="!registrationform.valid" class="btn btn-primary" type="submit">Submit</button>
    <button (click)="load()" class="btn btn-secondary ml-2" type="button">Help</button>
  </form>
  {{registrationform.value | json}}
</div>